body {
  background-color: #101015;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: Arial, sans-serif;
  
}

.btn {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  border: 3px solid white;
  user-select: none;
  border-radius: 50px;
  width: fit-content;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(85%);
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.lime{
  background-color: lime;
}

.teal{
  background-color: teal;
}

.blue{
  background-color: royalblue;
}

.purple{
  background-color: purple;
}